.footer {
  background-color: #212121;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  margin-top: auto;
}

.footer-fixed {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: px 20px;
  background-color: #212121;
  color: white;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: rgb(204, 49, 49);
}

.toggle-btn {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  color: white;
}

.toggle-btn:hover {
  color: rgb(204, 49, 49);
}

.footer-desplegable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 1s ease;
  opacity: 0;
  background-color: #272727;
  color: white;
}

.footer-desplegable.show {
  max-height: 300px;
  opacity: 1;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.redes img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.8s ease;
}

.redes img:hover {
  transform: scale(1.3);
  filter: brightness(0) invert(0.7) hue-rotate(40deg);
}
