<section id="refined-form">
    <section id="filter-section">
        <h5 class="refined-form-title">Filtrado</h5>
        <fieldset class="filter-fieldset">
            <label for="name-filter">Nombre</label>
            <input type="text" id="name-filter" [(ngModel)]="nameFilter" (ngModelChange)="refineProducts()">
        </fieldset>

        <fieldset class="filter-fieldset">
            <label for="brand-filter">Marca</label>
            <input type="text" id="brand-filter" [(ngModel)]="brandFilter" (ngModelChange)="refineProducts()">
        </fieldset>

        <fieldset class="filter-fieldset">
            <label for="price-filter">Tope Precio</label>
            <select id="price-filter" [(ngModel)]="priceFilter" (ngModelChange)="refineProducts()">
                <option value=0>Gratuito</option>
                <option value=100000>100.000</option>
                <option value=1000000>1.000.000</option>
                <option value=10000000>10.000.000</option>
                <option value=50000000>50.000.000</option>
                <option value=100000000>+50.000.000</option>
            </select>
        </fieldset>

        <fieldset class="filter-fieldset category-fieldset">
            <mat-form-field class="mat-field" appearance="fill">
                <mat-label>Categorías</mat-label>
                <mat-select multiple id="category-filter" panelClass="custom-select-panel" [(ngModel)]="categoryFilter"
                    (ngModelChange)="refineProducts()">
                    @for (category of this.categories(); track $index) {
                    <mat-option [value]="category.name"> {{category.name.toUpperCase()}} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </fieldset>
    </section>

    <section id="order-section">
        <h5 class="refined-form-title">Ordenamiento</h5>
        <fieldset class="">
            <label for="name-order">Orden Alfabetico</label>
            <select id="name-order" [(ngModel)]="nameSort" (ngModelChange)="refineProducts()">
                <option value="asc">A-Z</option>
                <option value="desc">Z-A</option>
            </select>
        </fieldset>

        <fieldset class="">
            <label for="price-order">Por Precio</label>
            <select id="price-order" [(ngModel)]="priceSort" (ngModelChange)="refineProducts()">
                <option value="asc">Desde mas barato</option>
                <option value="desc">Desde mas caro</option>
            </select>
        </fieldset>
    </section>
</section>
