<div class="ua">
  @if (auth.user()) {
    <c-dropdown>
      <button 
        class="ua-toggle"
        type="button" 
        aria-label="Cuenta" 
        cButton 
        cDropdownToggle 
        color="secondary">
       
        @if (auth.user()) {}
        <p class="ua-name">{{ truncatedFirstName }}</p>
       
        <img 
          class="ua-avatar" 
          [ngClass]="{ 'ua-avatar--placeholder': !auth.user()?.img }"
          [src]="auth.user()?.img ?? 'image/user.png'" 
          alt="Usuario"
        />
        </button>
      <ul cDropdownMenu class="ua-menu" role="menu">
        <li><a routerLink="/profile" cDropdownItem>Mi cuenta</a></li>
        @if (auth.permits().includes('ADMIN')) {
                <li><a routerLink="/auth/admin" cDropdownItem>Administrar</a></li>
  
        }
        <li><a routerLink="/purchases" cDropdownItem>Compras</a></li>
      <!-- <li><a routerLink="/fav" cDropdownItem>Favoritos</a></li>  Implementar en tesis -->
        <li><button (click)="logout()" cDropdownItem>Cerrar Sesión</button></li>
      </ul>
    </c-dropdown>
  } @else {
    <button class="ua-toggle" routerLink="auth/login">
      <img class="ua-avatar ua-avatar--placeholder" [src]="'image/user.png'" alt="Usuario" />
    </button>
  }
</div>
