@if (carouselItems.length) {
  <c-carousel [interval]="0">
    <c-carousel-inner>
      @for (item of carouselItems; track item.url) {
        <c-carousel-item>
          <img
            [src]="item.url"
            alt="{{ item.title }}"
            class="d-block w-100"
            loading="lazy"
          />
        </c-carousel-item>
      }
    </c-carousel-inner>
    <c-carousel-control caption="Anterior" direction="prev"></c-carousel-control>
    <c-carousel-control caption="Siguiente" direction="next"></c-carousel-control>
  </c-carousel>
}
