@use '@coreui/coreui/scss/coreui';
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main, router-outlet {
  flex: 1;
}

.swal2-toast-dark {
    background: #ffffff !important; 
    color: #ffffff !important; 
    border: 1px solid #000000 !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5) !important;
}

.swal2-toast-dark .swal2-title {
    color: #7c3aed !important;
}

.swal2-toast-dark .swal2-timer-progress-bar {
    background-color: #7c3aed !important;
}
