@if (this.products.length > 0) {
  <section id="productosTest">
    <h2>Productos (Debug)</h2>

    <ul>
      @for (p of products; track p.id) {
        <li>
          <div class="product-info">
            <span><b>ID:</b> {{ p.id }}</span>
            <span><b>Barcode:</b> {{ p.barcode }}</span>
            <span><b>Nombre:</b> {{ p.name }}</span>
            <span><b>Precio:</b> ${{ p.price }}</span>
            <span><b>Imagen:</b> {{ p.imgURL || '(sin imagen)' }}</span>
          </div>

          <div class="actions">
            <button class="btn-delete" (click)="deleteProduct(p.id)">Borrar</button>
            <button class="btn-edit" (click)="editProduct(p.id)">Editar</button>
          </div>
        </li>
      }
    </ul>
  </section>

  <section class="test-block">
    <h3>Test de Product Cards</h3>
    <div id="testProductCards">
      @for (p of products; track p.id) {
        <app-product-card [product]="p" [isMostrarCuotas]="true" [isMostrarStock]="true"></app-product-card>
      }
    </div>
  </section>
} @else {
  <p class="no-products">No hay productos cargados.</p>
}

<section id="add-products">
  <h3>Cargar Productos</h3>

  <app-product-form (change)="renderProducts()"></app-product-form>
</section>
